html * {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3vmin;
}

body {
  background-color: #3A3A5C;
  margin: 0;
}

#root {
  justify-content: center;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  top: 40%;
  padding: 0 50px 0 50px;
}